# ==========================
# JetBrains Rider
# ==========================

# Settings & caches
.idea/
*.sln.iml         
*.dotSettings      
*.rssettings       

# Visual Studio / .NET build output
**/bin/
**/obj/
.vs/               


# User-specific files
*.user             
*.suo              
*.cachefile        
*.pdb              
*.ipch             
*.log              

# NuGet packages & related artefacts
packages/          
project.lock.json  
.projectlock.json  
*.nupkg            
*.snk              
*.pfx              

# Rider specific artefacts (optional)
*.rider.*          

# ==========================
# End of file
